$primary-background: #ca8b6c;
$primary-footer: #a96e4e;
$primary-footer-link: #885c4d;
$primary-button: #68706c;
$primary-button-hover: #545454;
$primary-text: white;
$secondary-button: #a2c4c9;

/* Fonts */
$font-regular: "Georgia Pro Regular";
$font-bold: "Georgia Pro Bold";
