@use "./styles/partials/variables" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/fonts" as *;

@include font-faces;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: $primary-background;
}

body {
    font-family: $font-regular;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
